@tailwind base;

@tailwind components;

body {
    @apply text-secondary bg-terciary;
}

.wrapper {
    @apply flex items-center justify-center w-screen h-full p-4;
}

/* ------------- Wizard ------------- */

.wizard {
    min-width: 350px;
    @apply max-w-4xl rounded shadow-lg flex flex-col flex-1 justify-center items-center bg-white;
}

.wizard-header {
    -moz-box-shadow: inset 0px -5px 8px -5px #1a1a1a;
    -webkit-box-shadow: inset 0px -5px 8px -5px #1a1a1a;
    box-shadow: inset 0px -5px 8px -5px #1a1a1a;
    @apply w-full flex justify-center items-center py-4 bg-gray-500 text-white;
}

.wizard-body {
    @apply w-full flex flex-col px-4 py-2;
}

.wizard-footer {
    @apply w-full flex p-4 border-t-2 border-gray-300;
}

/* ------------- Elementos internos del wizard ------------- */

.title {
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    @apply text-2xl font-bold mb-4;
}

.title:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    bottom: 0;
    border-bottom: 5px solid;
    @apply border-primary;
}

.image-container {
    @apply flex flex-col flex-1 my-2 text-center items-center;
}

.image-container img {
    @apply rounded mb-2;
}

/* ------------- Steppers ------------- */

.stepper {
    @apply px-4 py-2 mx-4 text-white bg-gray-700 rounded-full;
}

.stepper-done {
    @apply bg-primary;
}

.stepper-current {
    @apply text-xl bg-secondary;
}

/* ------------- Botones ------------- */

.button-cancel {
    @apply font-bold;
}

.button-next {
    @apply bg-secondary px-4 py-2 font-bold text-white;
}

.button-finish {
    @apply text-primary font-bold;
}

.button-disabled {
    @apply opacity-50 cursor-not-allowed;
}

/* ------------- Formulario ------------- */

.form-row {
    @apply flex w-full flex-col mt-2 mb-8;
}

.form-input-group {
    @apply flex flex-col w-full;
}

.form-input-group label {
    @apply font-bold;
}

.form-input {
    @apply border-2 border-secondary px-4 py-2 border-opacity-50 flex;
}

@tailwind utilities;
